#addVehicle {
    position: fixed; 
    top: 0; 
    background-color: black;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 7%;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
  }