#addVehicle {
    position: absolute; 
    top: 0;
    background-color: black;
    border-radius: 10px;
    margin-left: 42.5%;
    margin-top: 10%;
    padding: 0%;
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.id, .type, .site, button {
    width: 100%;
    margin-top: 10%;
}